@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-family: "Caveat", cursive;
    background-color: #FBC3C1;
}
.cabecalho{
    background-color: #612D53;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
    }
    .cartao{
     width: 260px;
     height: 200px;
     font-size: 18px;
    }
     .cartao img{
     width: 80%;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
    .cartao-interno{
        position: relative;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
     .cartao:hover .cartao-interno{
        transform: rotateY(180deg);
    }
    .cartao-verso{
        transform: rotateY(180deg);
    }
    .cartao-frente, .cartao-verso{
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0,0,0,0.15);
        backface-visibility: hidden;
    }
    h1{
        color: aliceblue;
    }
    nav{
        color: aliceblue;
    }
    

