@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    font-family: "Inconsolata", monospace;
    background-color: #111844;
.cabecalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
    }
}